name: Build bundle
on: workflow_dispatch
permissions:
  contents: write
  pull-requests: read
env:
  BUNDLE_VERSION: "0.3.0"
  MESON_VERSION: "0.58.2"
  VULKAN_VERSION: "vulkan-sdk-1.4.335.0"
  VKD3D_VERSION: "vkd3d-1.18"
  SDL_VERSION: "release-3.4.0"
  SDL2_COMPAT_VERSION: "release-2.32.62"
  DXVK_VERSION: "v2.5.3"
  FNA_VERSION: "26.01"
jobs:
  build:
    runs-on: ubuntu-latest
    container: almalinux:9
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: 'Add external repositories'
      run: |
        dnf update -y
        dnf install -y gnupg2 ca-certificates dnf-plugins-core
        dnf install https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm -y
        crb enable
        update-crypto-policies --set DEFAULT:SHA1
        rpm --import "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF"
        curl https://download.mono-project.com/repo/centos8-stable.repo | tee /etc/yum.repos.d/mono-centos8-stable.repo
        dnf update -y

    - name: 'Install build dependencies'
      run: |
        echo "NAME=FNA-Terraria-${{ env.BUNDLE_VERSION }}" >> $GITHUB_ENV
        echo "PATH=/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH" >> $GITHUB_ENV

        dnf install -y \
          gcc \
          git-core \
          make \
          cmake \
          alsa-lib-devel \
          fribidi-devel \
          pulseaudio-libs-devel \
          pipewire-devel \
          libX11-devel \
          libXext-devel \
          libXrandr-devel \
          libXcursor-devel \
          libXfixes-devel \
          libXi-devel \
          libXScrnSaver-devel \
          libXtst-devel \
          dbus-devel \
          ibus-devel \
          systemd-devel \
          mesa-libGL-devel \
          libxkbcommon-devel \
          mesa-libGLES-devel \
          mesa-libEGL-devel \
          vulkan-devel \
          wayland-devel \
          wayland-protocols-devel \
          libdrm-devel \
          mesa-libgbm-devel \
          libusb1-devel \
          libdecor-devel \
          pipewire-jack-audio-connection-kit-devel \
          libthai-devel \
          liburing-devel \
          mono-devel \
          autoconf \
          automake \
          bison \
          flex \
          perl-JSON \
          perl-open \
          libtool \
          wine-devel \
          mingw-w64-tools \
          glslang-devel \
          ninja-build \
          python3-setuptools \
          gcc-c++ \
          kernel-devel \
          patch \
          ccache

    - name: 'Fetch sources'
      run: |
        echo "BUNDLE=$GITHUB_WORKSPACE/${{ env.NAME }}" >> $GITHUB_ENV

        git clone https://github.com/mesonbuild/meson.git --depth 1 \
          --branch ${{ env.MESON_VERSION }}
        git clone https://github.com/KhronosGroup/Vulkan-Headers.git --depth 1 \
          --branch ${{ env.VULKAN_VERSION }}
        git clone https://github.com/KhronosGroup/SPIRV-Headers.git --depth 1 \
          --branch ${{ env.VULKAN_VERSION }}
        git clone https://github.com/KhronosGroup/Vulkan-Loader.git --depth 1 \
          --branch ${{ env.VULKAN_VERSION }}
        git clone https://github.com/KhronosGroup/SPIRV-Tools.git --depth 1 \
          --branch ${{ env.VULKAN_VERSION }}
        git clone https://gitlab.winehq.org/wine/vkd3d.git --depth 1 \
          --branch ${{ env.VKD3D_VERSION }}
        git clone https://github.com/libsdl-org/SDL.git --depth 1 \
          --branch ${{ env.SDL_VERSION }}
        git clone https://github.com/libsdl-org/sdl2-compat.git --depth 1 \
          --branch ${{ env.SDL2_COMPAT_VERSION }}
        git clone https://github.com/doitsujin/dxvk.git --recursive --depth 1 \
          --branch ${{ env.DXVK_VERSION }}
        git clone https://github.com/FNA-XNA/FNA.git --recursive --depth 1 \
          --branch ${{ env.FNA_VERSION }}

    - name: 'Apply patches'
      run: |
        patch -d FNA -sNp1 < src/0001-Switch-default-FNAPlatform-back-to-SDL2.patch

    - name: 'Configure ccache'
      uses: hendrikmuhs/ccache-action@v1.2

    - name: 'Build meson'
      working-directory: meson
      run: python3 setup.py build

    - name: 'Install meson'
      working-directory: meson
      run: python3 setup.py install --root="/" --optimize=1 --skip-build

    - name: 'Configure Vulkan-Headers'
      working-directory: Vulkan-Headers
      run: |
        cmake \
        -B build \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON

    - name: 'Build Vulkan-Headers'
      working-directory: Vulkan-Headers
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install Vulkan-Headers'
      working-directory: Vulkan-Headers
      run: cmake --install build

    - name: 'Configure SPIRV-Headers'
      working-directory: SPIRV-Headers
      run: |
        cmake \
        -B build \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON

    - name: 'Build SPIRV-Headers'
      working-directory: SPIRV-Headers
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install SPIRV-Headers'
      working-directory: SPIRV-Headers
      run: cmake --install build

    - name: 'Configure Vulkan-Loader'
      working-directory: Vulkan-Loader
      run: |
        cmake \
        -B build \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON

    - name: 'Build Vulkan-Loader'
      working-directory: Vulkan-Loader
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install Vulkan-Loader'
      working-directory: Vulkan-Loader
      run: cmake --install build

    - name: 'Configure SPIRV-Tools'
      working-directory: SPIRV-Tools
      run: |
        cmake \
        -B build \
        -D BUILD_SHARED_LIBS=ON \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON \
        -D SPIRV-Headers_SOURCE_DIR=/usr \
        -D SPIRV_TOOLS_BUILD_STATIC=OFF \
        -D SPIRV_WERROR=OFF

    - name: 'Build SPIRV-Tools'
      working-directory: SPIRV-Tools
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install SPIRV-Tools'
      working-directory: SPIRV-Tools
      run: cmake --install build

    - name: 'Configure vkd3d'
      working-directory: vkd3d
      run: |
        ./autogen.sh
        ./configure \
        --prefix=/usr \
        --disable-tests \
        --disable-doxygen-doc \
        --with-spirv-tools

    - name: 'Build vkd3d'
      working-directory: vkd3d
      run: make -j$(($(nproc) + 1))

    - name: 'Install vkd3d'
      working-directory: vkd3d
      run: make install

    - name: 'Configure SDL'
      working-directory: SDL
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D SDL_STATIC=OFF \
        -D SDL_RPATH=OFF

    - name: 'Build SDL'
      working-directory: SDL
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install SDL'
      working-directory: SDL
      run: cmake --install build

    - name: 'Configure sdl2-compat'
      working-directory: sdl2-compat
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr

    - name: 'Build sdl2-compat'
      working-directory: sdl2-compat
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install sdl2-compat'
      working-directory: sdl2-compat
      run: cmake --install build

    - name: 'Configure dxvk'
      working-directory: dxvk
      run: |
        meson setup \
        --buildtype release \
        --strip \
        -D enable_d3d8=false \
        -D enable_d3d9=false \
        -D enable_d3d10=false \
        -D dxvk_native_wsi=sdl2 \
        build

    - name: 'Build dxvk'
      working-directory: dxvk
      run: ninja -C build

    - name: 'Install dxvk'
      working-directory: dxvk
      run: ninja -C build install

    - name: 'Configure FAudio'
      working-directory: FNA/lib/FAudio
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D BUILD_SDL3=OFF

    - name: 'Build FAudio'
      working-directory: FNA/lib/FAudio
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Configure FNA3D'
      working-directory: FNA/lib/FNA3D
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D BUILD_SDL3=OFF

    - name: 'Build FNA3D'
      working-directory: FNA/lib/FNA3D
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Build Theorafile'
      working-directory: FNA/lib/Theorafile
      run: make -j$(($(nproc) + 1))

    - name: 'Configure FNA'
      working-directory: FNA
      run: cp $GITHUB_WORKSPACE/src/Terraria.Settings.props ./FNA.Settings.props

    - name: 'Build FNA'
      working-directory: FNA
      run: msbuild /p:Configuration=Release /p:Platform=x64 FNA.sln

    - name: 'Create bundle'
      run: |
        mkdir -p ${{ env.BUNDLE }}/lib64
        cp FNA/bin/Release/* ${{ env.BUNDLE }}
        cat /usr/local/lib/x86_64-linux-gnu/libdxvk_d3d11.so.0 > ${{ env.BUNDLE }}/lib64/libdxvk_d3d11.so.0
        cat /usr/local/lib/x86_64-linux-gnu/libdxvk_dxgi.so.0 > ${{ env.BUNDLE }}/lib64/libdxvk_dxgi.so.0
        cat /usr/lib/x86_64-linux-gnu/libSDL3.so.0 > ${{ env.BUNDLE }}/lib64/libSDL3.so.0
        cat /usr/lib/x86_64-linux-gnu/libSDL2-2.0.so.0 > ${{ env.BUNDLE }}/lib64/libSDL2-2.0.so.0
        cat /usr/lib/libvkd3d.so.1 > ${{ env.BUNDLE }}/lib64/libvkd3d.so.1
        cat /usr/lib/libvkd3d-shader.so.1 > ${{ env.BUNDLE }}/lib64/libvkd3d-shader.so.1
        cat /usr/lib/libvkd3d-utils.so.1 > ${{ env.BUNDLE }}/lib64/libvkd3d-utils.so.1
        cat /usr/lib/x86_64-linux-gnu/libSPIRV-Tools-shared.so > ${{ env.BUNDLE }}/lib64/libSPIRV-Tools-shared.so
        cat FNA/lib/FAudio/build/libFAudio.so.0 > ${{ env.BUNDLE }}/lib64/libFAudio.so.0
        cat FNA/lib/FNA3D/build/libFNA3D.so.0 > ${{ env.BUNDLE }}/lib64/libFNA3D.so.0
        cp FNA/lib/Theorafile/libtheorafile.so ${{ env.BUNDLE }}/lib64

    - name: 'Make artifacts'
      run: |
        cd "${{ env.BUNDLE }}"/..
        XZ_OPT=-9 tar -Jcf "${{ env.NAME }}.tar.xz" "$(basename ${{ env.BUNDLE }})"

    - name: 'Upload artifacts'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.NAME }}
        path: ${{ env.NAME }}.tar.xz
