name: Build bundle
on: workflow_dispatch
permissions:
  contents: write
  pull-requests: read
env:
  BUNDLE_VERSION: "0.3.0"
  MESON_VERSION: "0.58.2"
  VULKAN_VERSION: "vulkan-sdk-1.4.335.0"
  VKD3D_VERSION: "1.18"
  SDL_VERSION: "release-3.4.0"
  SDL2_COMPAT_VERSION: "release-2.32.62"
  DXVK_VERSION: "v2.5.3"
  FNA_VERSION: "26.01"
jobs:
  build:
    runs-on: ubuntu-latest
    container: debian:bookworm
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    # Sourced from mono-project.com/download/stable
    - name: 'Add Mono repository'
      run: |
        apt update -y
        apt install -y dirmngr ca-certificates gnupg
        gpg --homedir /tmp --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/mono-official-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        chmod +r /usr/share/keyrings/mono-official-archive-keyring.gpg
        echo "deb [signed-by=/usr/share/keyrings/mono-official-archive-keyring.gpg] https://download.mono-project.com/repo/debian stable-buster main" | tee /etc/apt/sources.list.d/mono-official-stable.list
        apt update -y

    - name: 'Install build dependencies'
      run: |
        echo "NAME=FNA-Terraria-${{ env.BUNDLE_VERSION }}" >> $GITHUB_ENV

        apt install -y \
          build-essential \
          git \
          make \
          pkg-config \
          cmake \
          ninja-build \
          gnome-desktop-testing \
          libasound2-dev \
          libpulse-dev \
          libaudio-dev \
          libfribidi-dev \
          libjack-dev \
          libsndio-dev \
          libx11-dev \
          libxext-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxfixes-dev \
          libxi-dev \
          libxss-dev \
          libxtst-dev \
          libxkbcommon-dev \
          libdrm-dev \
          libgbm-dev \
          libgl1-mesa-dev \
          libgles2-mesa-dev \
          libegl1-mesa-dev \
          libdbus-1-dev \
          libibus-1.0-dev \
          libudev-dev \
          libthai-dev \
          libpipewire-0.3-dev \
          libwayland-dev \
          libdecor-0-dev \
          liburing-dev \
          mingw-w64 \
          glslang-tools \
          ninja-build \
          python3-setuptools \
          mono-devel \
          autoconf \
          automake \
          bison \
          flex \
          libjson-perl \
          libtool \
          wine64-tools \
          curl \
          ccache

    - name: 'Fetch sources'
      run: |
        echo "BUNDLE=$GITHUB_WORKSPACE/${{ env.NAME }}" >> $GITHUB_ENV

        curl https://codeload.github.com/mesonbuild/meson/archive/refs/tags/${{ env.MESON_VERSION }}.tar.gz -O meson.tar.gz &
        curl https://codeload.github.com/KhronosGroup/Vulkan-Headers/tar.gz/refs/tags/${{ env.VULKAN_VERSION }} -o Vulkan-Headers.tar.gz &
        curl https://codeload.github.com/KhronosGroup/SPIRV-Headers/tar.gz/refs/tags/${{ env.VULKAN_VERSION }} -o SPIRV-Headers.tar.gz &
        curl https://codeload.github.com/KhronosGroup/Vulkan-Loader/tar.gz/refs/tags/${{ env.VULKAN_VERSION }} -o Vulkan-Loader.tar.gz &
        curl https://codeload.github.com/KhronosGroup/SPIRV-Tools/tar.gz/refs/tags/${{ env.VULKAN_VERSION }} -o SPIRV-Tools.tar.gz &
        curl https://dl.winehq.org/vkd3d/source/vkd3d-${{ env.VKD3D_VERSION }}.tar.xz -o vkd3d.tar.xz &
        curl https://codeload.github.com/libsdl-org/SDL/tar.gz/refs/tags/${{ env.SDL_VERSION }} -o SDL.tar.gz &
        curl https://codeload.github.com/libsdl-org/sdl2-compat/tar.gz/refs/tags/${{ env.SDL2_COMPAT_VERSION }} -o sdl2-compat.tar.gz &
        curl https://codeload.github.com/doitsujin/dxvk/tar.gz/refs/tags/${{ env.DXVK_VERSION }} -o dxvk.tar.gz &
        curl https://codeload.github.com/FNA-XNA/FNA/tar.gz/refs/tags/${{ env.FNA_VERSION }} -o FNA.tar.gz &

        curl https://codeload.github.com/KhronosGroup/Vulkan-Headers/tar.gz/46dc0f6e514f5730784bb2cac2a7c731636839e8 -o dxvk-Vulkan-Headers.tar.gz &
        curl https://codeload.github.com/KhronosGroup/SPIRV-Headers/tar.gz/8b246ff75c6615ba4532fe4fde20f1be090c3764 -o dxvk-SPIRV-Headers.tar.gz &
        curl https://codeload.github.com/misyltoad/mingw-directx-headers/tar.gz/9df86f2341616ef1888ae59919feaa6d4fad693d -o dxvk-mingw-directx-header.tar.gz &
        curl https://codeload.github.com/doitsujin/libdisplay-info/tar.gz/275e6459c7ab1ddd4b125f28d0440716e4888078 -o dxvk-libdisplay-info.tar.gz &
        curl https://codeload.github.com/FNA-XNA/FAudio/tar.gz/633bdb772a593104414b4b103ec752567d57c3c1 -o FNA-FAudio.tar.gz &
        curl https://codeload.github.com/FNA-XNA/FNA3D/tar.gz/212c3e5ce2d988d907bf8b359f5e0dbdfcc77854 -o FNA-FNA3D.tar.gz &
        curl https://codeload.github.com/flibitijibibo/SDL2-CS/tar.gz/1eb20e5c690aee9a5188ba9cf06207295c51d935 -o FNA-SDL2-CS.tar.gz &
        curl https://codeload.github.com/flibitijibibo/SDL3-CS/tar.gz/83d63971db4e71a1f2d60e838c8ce768cb4e6a9c -o FNA-SDL3-CS.tar.gz &
        curl https://codeload.github.com/FNA-XNA/Theorafile/tar.gz/9476f48b5b4ed619aa18c9bf13484be3efd172e9 -o FNA-Theorafile.tar.gz &
        wait

        for file in *.tar.gz; do tar -zxf "$file"; done &
        for file in *.tar.xz; do tar -Jxf "$file"; done &
        wait

        mv meson-${{ env.MESON_VERSION }} meson &
        mv Vulkan-Headers-${{ env.VULKAN_VERSION }} Vulkan-Headers &
        mv SPIRV-Headers-${{ env.VULKAN_VERSION }} SPIRV-Headers &
        mv Vulkan-Loader-${{ env.VULKAN_VERSION }} Vulkan-Loader &
        mv SPIRV-Tools-${{ env.VULKAN_VERSION }} SPIRV-Tools &
        mv vkd3d-${{ env.VKD3D_VERSION }} vkd3d &
        mv SDL-${{ env.SDL_VERSION }} SDL &
        mv sdl2-compat-${{ env.SDL2_COMPAT_VERSION }} sdl2-compat &
        mv dxvk-${{ env.DXVK_VERSION }} dxvk &
        mv FNA-${{ env.FNA_VERSION }} FNA &

        mv dxvk-Vulkan-Headers-46dc0f6e514f5730784bb2cac2a7c731636839e8/* dxvk/include/vulkan &
        mv dxvk-SPIRV-Headers-8b246ff75c6615ba4532fe4fde20f1be090c3764/* dxvk/include/spirv &
        mv dxvk-mingw-directx-headers-9df86f2341616ef1888ae59919feaa6d4fad693d/* dxvk/include/native/directx &
        mv dxvk-libdisplay-info-275e6459c7ab1ddd4b125f28d0440716e4888078/* dxvk/subprojects/libdisplay-info &
        mv FNA-FAudio-633bdb772a593104414b4b103ec752567d57c3c1/* FNA/lib/FAudio &
        mv FNA-FNA3D-212c3e5ce2d988d907bf8b359f5e0dbdfcc77854/* FNA/lib/FNA3D &
        mv FNA-SDL2-CS-1eb20e5c690aee9a5188ba9cf06207295c51d935/* FNA/lib/SDL2-CS &
        mv FNA-SDL3-CS-83d63971db4e71a1f2d60e838c8ce768cb4e6a9c/* FNA/lib/SDL3-CS &
        mv FNA-Theorafile-9476f48b5b4ed619aa18c9bf13484be3efd172e9/* FNA/lib/Theorafile &
        wait

        rm *.tar.gz &
        rm *.tar.xz &
        wait

    - name: 'Apply patches'
      run: |
        patch -d FNA -sNp1 < src/0001-Switch-default-FNAPlatform-back-to-SDL2.patch

    - name: 'Configure ccache'
      uses: hendrikmuhs/ccache-action@v1.2

    - name: 'Build meson'
      working-directory: meson
      run: python3 setup.py build

    - name: 'Install meson'
      working-directory: meson
      run: python3 setup.py install --root="/" --optimize=1 --skip-build

    - name: 'Configure Vulkan-Headers'
      working-directory: Vulkan-Headers
      run: |
        cmake \
        -B build \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON

    - name: 'Build Vulkan-Headers'
      working-directory: Vulkan-Headers
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install Vulkan-Headers'
      working-directory: Vulkan-Headers
      run: cmake --install build

    - name: 'Configure SPIRV-Headers'
      working-directory: SPIRV-Headers
      run: |
        cmake \
        -B build \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON

    - name: 'Build SPIRV-Headers'
      working-directory: SPIRV-Headers
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install SPIRV-Headers'
      working-directory: SPIRV-Headers
      run: cmake --install build

    - name: 'Configure Vulkan-Loader'
      working-directory: Vulkan-Loader
      run: |
        cmake \
        -B build \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON

    - name: 'Build Vulkan-Loader'
      working-directory: Vulkan-Loader
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install Vulkan-Loader'
      working-directory: Vulkan-Loader
      run: cmake --install build

    - name: 'Configure SPIRV-Tools'
      working-directory: SPIRV-Tools
      run: |
        cmake \
        -B build \
        -D BUILD_SHARED_LIBS=ON \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D CMAKE_INSTALL_SYSCONFDIR=/etc \
        -D CMAKE_SKIP_INSTALL_RPATH=ON \
        -D SPIRV-Headers_SOURCE_DIR=/usr \
        -D SPIRV_TOOLS_BUILD_STATIC=OFF \
        -D SPIRV_WERROR=OFF

    - name: 'Build SPIRV-Tools'
      working-directory: SPIRV-Tools
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install SPIRV-Tools'
      working-directory: SPIRV-Tools
      run: cmake --install build

    - name: 'Configure vkd3d'
      working-directory: vkd3d
      run: |
        ./configure \
        --prefix=/usr \
        --disable-tests \
        --disable-doxygen-doc \
        --with-spirv-tools

    - name: 'Build vkd3d'
      working-directory: vkd3d
      run: make -j$(($(nproc) + 1))

    - name: 'Install vkd3d'
      working-directory: vkd3d
      run: make install

    - name: 'Configure SDL'
      working-directory: SDL
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D SDL_STATIC=OFF \
        -D SDL_RPATH=OFF

    - name: 'Build SDL'
      working-directory: SDL
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install SDL'
      working-directory: SDL
      run: cmake --install build

    - name: 'Configure sdl2-compat'
      working-directory: sdl2-compat
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr

    - name: 'Build sdl2-compat'
      working-directory: sdl2-compat
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install sdl2-compat'
      working-directory: sdl2-compat
      run: cmake --install build

    - name: 'Configure dxvk'
      working-directory: dxvk
      run: |
        meson setup \
        --buildtype release \
        --strip \
        -D enable_d3d8=false \
        -D enable_d3d9=false \
        -D enable_d3d10=false \
        -D dxvk_native_wsi=sdl2 \
        build

    - name: 'Build dxvk'
      working-directory: dxvk
      run: ninja -C build

    - name: 'Install dxvk'
      working-directory: dxvk
      run: ninja -C build install

    - name: 'Configure FAudio'
      working-directory: FNA/lib/FAudio
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D BUILD_SDL3=OFF

    - name: 'Build FAudio'
      working-directory: FNA/lib/FAudio
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Configure FNA3D'
      working-directory: FNA/lib/FNA3D
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D BUILD_SDL3=OFF

    - name: 'Build FNA3D'
      working-directory: FNA/lib/FNA3D
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Build Theorafile'
      working-directory: FNA/lib/Theorafile
      run: make -j$(($(nproc) + 1))

    - name: 'Configure FNA'
      working-directory: FNA
      run: cp $GITHUB_WORKSPACE/src/Terraria.Settings.props ./FNA.Settings.props

    - name: 'Build FNA'
      working-directory: FNA
      run: msbuild /p:Configuration=Release /p:Platform=x64 FNA.sln

    - name: 'Create bundle'
      run: |
        mkdir -p ${{ env.BUNDLE }}/lib64
        cp FNA/bin/Release/* ${{ env.BUNDLE }}
        cp /usr/local/lib/x86_64-linux-gnu/libdxvk_d3d11.so.0 ${{ env.BUNDLE }}/lib64/libdxvk_d3d11.so.0
        cp /usr/local/lib/x86_64-linux-gnu/libdxvk_dxgi.so.0 ${{ env.BUNDLE }}/lib64/libdxvk_dxgi.so.0
        cp /usr/lib/x86_64-linux-gnu/libSDL3.so.0 ${{ env.BUNDLE }}/lib64/libSDL3.so.0
        cp /usr/lib/x86_64-linux-gnu/libSDL2-2.0.so.0 ${{ env.BUNDLE }}/lib64/libSDL2-2.0.so.0
        cp /usr/lib/x86_64-linux-gnu/libvkd3d.so.1 ${{ env.BUNDLE }}/lib64/libvkd3d.so.1
        cp /usr/lib/x86_64-linux-gnu/libvkd3d-shader.so.1 ${{ env.BUNDLE }}/lib64/libvkd3d-shader.so.1
        cp /usr/lib/x86_64-linux-gnu/libvkd3d-utils.so.1 ${{ env.BUNDLE }}/lib64/libvkd3d-utils.so.1
        cp /usr/lib/x86_64-linux-gnu/libSPIRV-Tools-shared.so ${{ env.BUNDLE }}/lib64/libSPIRV-Tools-shared.so
        cp FNA/lib/FAudio/build/libFAudio.so.0 ${{ env.BUNDLE }}/lib64/libFAudio.so.0
        cp FNA/lib/FNA3D/build/libFNA3D.so.0 ${{ env.BUNDLE }}/lib64/libFNA3D.so.0
        cp FNA/lib/Theorafile/libtheorafile.so ${{ env.BUNDLE }}/lib64

    - name: 'Make artifacts'
      run: |
        cd "${{ env.BUNDLE }}"/..
        XZ_OPT=-9 tar -Jcf "${{ env.NAME }}.tar.xz" "$(basename ${{ env.BUNDLE }})"

    - name: 'Upload artifacts'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.NAME }}
        path: ${{ env.NAME }}.tar.xz
