name: Build bundle
on: workflow_dispatch
permissions:
  contents: write
  pull-requests: read
env:
  BUNDLE_VERSION: "0.3.0"
  MESON_VERSION: "0.58.2"
  SDL_VERSION: "3.4.0"
  SDL2_COMPAT_VERSION: "2.32.62"
  DXVK_VERSION: "2.5.3"
  FNA_VERSION: "26.01"
jobs:
  build:
    runs-on: ubuntu-latest
    container: registry.gitlab.steamos.cloud/steamrt/sniper/sdk
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    # Sourced from mono-project.com/download/stable
    - name: 'Add Mono repository'
      run: |
        sudo apt-get update -y
        sudo apt-get install -y dirmngr ca-certificates gnupg
        sudo gpg --homedir /tmp --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/mono-official-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        sudo chmod +r /usr/share/keyrings/mono-official-archive-keyring.gpg
        echo "deb [signed-by=/usr/share/keyrings/mono-official-archive-keyring.gpg] https://download.mono-project.com/repo/debian stable-buster main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
        sudo apt-get update -y

    - name: 'Install build dependencies'
      run: |
        echo "NAME=FNA-Terraria-${{ env.BUNDLE_VERSION }}+$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV

        sudo apt-get install -y \
          build-essential \
          git \
          make \
          pkg-config \
          cmake \
          ninja-build \
          gnome-desktop-testing \
          libasound2-dev \
          libpulse-dev \
          libaudio-dev \
          libfribidi-dev \
          libjack-dev \
          libsndio-dev \
          libx11-dev \
          libxext-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxfixes-dev \
          libxi-dev \
          libxss-dev \
          libxtst-dev \
          libxkbcommon-dev \
          libdrm-dev \
          libgbm-dev \
          libgl1-mesa-dev \
          libgles2-mesa-dev \
          libegl1-mesa-dev \
          libdbus-1-dev \
          libibus-1.0-dev \
          libudev-dev \
          libthai-dev \
          libpipewire-0.3-dev \
          libwayland-dev \
          libdecor-0-dev \
          liburing-dev \
          mingw-w64 \
          glslang-tools \
          ninja-build \
          mono-devel \
          libvkd3d-utils1 \
          ccache

    - name: 'Fetch sources'
      run: |
        echo "INSTALL=${{ github.workspace }}/${{ env.NAME }}" >> $GITHUB_ENV

        git clone https://github.com/mesonbuild/meson.git --depth 1 \
          --branch ${{ env.MESON_VERSION }}
        git clone https://github.com/libsdl-org/SDL.git --depth 1 \
          --branch release-${{ env.SDL_VERSION }}
        git clone https://github.com/libsdl-org/sdl2-compat.git --depth 1 \
          --branch release-${{ env.SDL2_COMPAT_VERSION }}
        git clone https://github.com/doitsujin/dxvk.git --recursive --depth 1 \
          --branch v${{ env.DXVK_VERSION }}
        git clone https://github.com/FNA-XNA/FNA.git --recursive --depth 1 \
          --branch ${{ env.FNA_VERSION }}

    - name: 'Apply patches'
      run: |
        patch -d FNA -sNp1 < src/0001-Switch-default-FNAPlatform-back-to-SDL2.patch

    - name: 'Setup meson'
      working-directory: meson
      run: sudo ln -sf meson.py /usr/bin/meson

    - name: 'Configure ccache'
      uses: hendrikmuhs/ccache-action@v1.2

    - name: 'Build meson'
      working-directory: meson
      run: python3 setup.py build

    - name: 'Install meson'
      working-directory: meson
      run: python3 setup.py install --root="/" --optimize=1 --skip-build

    - name: 'Configure SDL'
      working-directory: SDL
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr \
        -D SDL_STATIC=OFF \
        -D SDL_RPATH=OFF

    - name: 'Build SDL'
      working-directory: SDL
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install SDL'
      working-directory: SDL
      run: sudo cmake --install build

    - name: 'Configure sdl2-compat'
      working-directory: sdl2-compat
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D CMAKE_INSTALL_PREFIX=/usr

    - name: 'Build sdl2-compat'
      working-directory: sdl2-compat
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Install sdl2-compat'
      working-directory: sdl2-compat
      run: sudo cmake --install build

    - name: 'Configure dxvk'
      working-directory: dxvk
      run: |
        meson setup \
        --buildtype release \
        --strip \
        -D build_id=false \
        -D enable_d3d8=false \
        -D enable_d3d9=false \
        -D enable_d3d10=false \
        -D enable_dxgi=true \
        -D enable_d3d11=true \
        -D dxvk_native_wsi=sdl2 \
        build

    - name: 'Build dxvk'
      working-directory: dxvk
      run: ninja -C build

    - name: 'Install dxvk'
      working-directory: dxvk
      run: sudo ninja -C build install

    - name: 'Configure FAudio'
      working-directory: FNA/lib/FAudio
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D BUILD_SDL3=OFF

    - name: 'Build FAudio'
      working-directory: FNA/lib/FAudio
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Configure FNA3D'
      working-directory: FNA/lib/FNA3D
      run: |
        cmake \
        -B build \
        -G Ninja \
        -D CMAKE_BUILD_TYPE=Release \
        -D BUILD_SDL3=OFF

    - name: 'Build FNA3D'
      working-directory: FNA/lib/FNA3D
      run: cmake --build build -j$(($(nproc) + 1))

    - name: 'Build Theorafile'
      working-directory: FNA/lib/Theorafile
      run: make -j$(($(nproc) + 1))

    - name: 'Configure FNA'
      working-directory: FNA
      run: cp ${{ github.workspace }}/src/Terraria.Settings.props ./FNA.Settings.props

    - name: 'Build FNA'
      working-directory: FNA
      run: msbuild /p:Configuration=Release /p:Platform=x64 FNA.sln

    - name: 'Create bundle'
      run: |
        mkdir -p ${{ env.INSTALL }}/lib64
        cp FNA/bin/Release/* ${{ env.INSTALL }}
        cat dxvk/build/src/d3d11/libdxvk_d3d11.so.0 > ${{ env.INSTALL }}/lib64/libdxvk_d3d11.so.0
        cat dxvk/build/src/dxgi/libdxvk_dxgi.so.0 > ${{ env.INSTALL }}/lib64/libdxvk_dxgi.so.0
        cat SDL/build/libSDL3.so.0 > ${{ env.INSTALL }}/lib64/libSDL3.so.0
        cat sdl2-compat/build/libSDL2-2.0.so.0 > ${{ env.INSTALL }}/lib64/libSDL2-2.0.so.0
        cat /usr/lib/x86_64-linux-gnu/libvkd3d.so.1 > ${{ env.INSTALL }}/lib64/libvkd3d.so.1
        cat /usr/lib/x86_64-linux-gnu/libvkd3d-utils.so.1 > ${{ env.INSTALL }}/lib64/libvkd3d-utils.so.1
        cat FNA/lib/FAudio/build/libFAudio.so.0 > ${{ env.INSTALL }}/lib64/libFAudio.so.0
        cat FNA/lib/FNA3D/build/libFNA3D.so.0 > ${{ env.INSTALL }}/lib64/libFNA3D.so.0
        cp FNA/lib/Theorafile/libtheorafile.so ${{ env.INSTALL }}/lib64

    - name: 'Make artifacts'
      run: |
        cd "${{ env.INSTALL }}"/..
        XZ_OPT=-9 tar -Jcf "${{ env.NAME }}.tar.xz" "$(basename ${{ env.INSTALL }})"

    - name: 'Upload artifacts'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.NAME }}
        path: ${{ env.NAME }}.tar.xz
